  @font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFoSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFoSans-Black.ttf');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFoSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFoSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFoRobert-RegularItalic.ttf');
    font-weight: normal;
    font-style: italic;
  }

/* -------------------------------------------------------- */




